* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: rgb(255, 255, 255);
  width: 520.859px;
  height: 319px;
  background-color: rgb(238, 224, 224);
  color: black;
  font-family: sans-serif;
}
h2 {
  font-size: 2.8125rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 3.25rem;
  color: var(--gm3-sys-color-on-surface, #1f1f1f);
  grid-column: 1/-1;
}

h3 {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  color: #626564;
  grid-column: 1/-1;
}
p {
  border-top: 1px;
  border-color: black;
  grid-column: 1/-1;
  border-top-style: solid;
  margin-top: 40px;
}

.Meeting-block__buttons {
  display: flex;
  gap: 1rem;
}

button {
  background-color: rgb(26, 115, 232);
  display: flex;
}

.learn-more {
  margin-right: 3px;
}

.new-meet {
}
