* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home__container {
}

.home__header {
  padding: 8px 20px 8px 20px;
}

.home__blocks-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15% 0 10%;
}

.home_meetingblock {
}

.home__scrollmenublock {
}
