.icon-input__wrap {
  display: flex;
  position: relative;
  height: 50px;
  margin: none;
  width: 100%;
}

.icon-input__input {
  padding-left: 40px; /* make the same as width of icon */
  width: 100%;
  border-radius: 1rem;
  border: 2px solid rgb(131, 131, 131);
  color: rgb(131, 131, 131);
  width: 100%;
}

.icon-input__input:hover {
  border: 2px solid rgb(85, 85, 85);
  color: rgb(131, 131, 131);
}

.icon-input__input:focus {
  border: 2px solid rgb(26, 115, 232);
  color: rgb(131, 131, 131);
  outline: none;
}

.icon-input__icon-wrap {
  position: absolute;
  height: 48px;
  width: 40px; /* make the same as padding of input */
  font: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-input__joinButtonDisabled {
  height: 50px;
  border-radius: 2rem;
  border: none;
  color: rgb(165, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 1rem;
}

.icon-input__joinButtonEnabled {
  height: 50px;
  border-radius: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 1rem;
  color: rgb(26, 115, 232);
}

.icon-input__joinButtonEnabled:hover {
  background-color: rgba(26, 115, 232, 0.185);
}

.icon-input__joinButtonEnabled:focus {
  background-color: rgba(26, 115, 232, 0.418);
}
